body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    flex-direction: column;
}
.btn a{
  text-decoration: none !important;
  color: white !important;
}
.btn a:hover {
  color: white !important;
}

.card-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-body button{
  margin: 10px;
}



.logout{
  position: fixed;
  top : 0;
  right: 0;
  margin: 30px;
}