button.logout.btn.btn-danger
  a(href='/auth/logout') Log Out
.card
  .card-header Employee Dashboard
  .card-body
    button.btn.btn-primary
      a(href='/dashboard/employee/availability') Create Availability
    button.btn.btn-primary
      a(href='/dashboard/employee/shifts') Check Shift
