doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.45/moment-timezone.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.45/moment-timezone-with-data.min.js" integrity="sha512-t/mY3un180WRfsSkWy4Yi0tAxEDGcY2rAEx873hb5BrkvLA0QLk54+SjfYgFBBoCdJDV1H86M8uyZdJhAOHeyA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    if partial === 'login'
      link(rel='stylesheet', href='/css/login.css')
    else if partial === 'register'  
      link(rel='stylesheet', href='/css/register.css')
    else if partial === 'home'
      if type === 'employee'
        link(rel='stylesheet', href = '/css/employee.css')
      else if type === 'admin'
        link(rel='stylesheet', href = '/css/admin.css')  
    else if partial === 'availability'
      if type === 'employee'
        link(rel='stylesheet', href = '/css/empAvail.css')  
      else if type === 'admin'
        link(rel='stylesheet', href = '/css/adminAvail.css')
    else if partial === 'shift'
      if type === 'employee'
        link(rel='stylesheet', href = '/css/empShift.css') 
      else if type === 'admin'
        link(rel='stylesheet', href = '/css/adminShift.css')   
    title= title
  body
    if partial === 'login'
      include login.jade
      script(src="/js/login.js")
    else if partial === 'register'
      include register.jade
      script(src='/js/register.js')
    else if partial === 'home'
      if type === 'employee'
        include employee.jade 
        script(src='/js/employee.js')
      else if type === 'admin' 
        include admin.jade
        script(src='/js/admin.js')
    else if partial === 'availability'
      if type === 'employee'
        include empAvail.jade 
        script(src='/js/empAvail.js')
      else if type === 'admin'
        include adminAvail.jade
        script(src='/js/adminAvail.js')
    else if partial === 'shift'
      if type === 'employee'
        include empShift.jade
        script(src='/js/empShift.js') 
      else if type === 'admin'
        include adminShift.jade    
        script(src='/js/adminShift.js')    
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src="https://cdn.jsdelivr.net/npm/flatpickr")